.logo{
    display:block;
    margin:auto;
    width:80px;
    height:80px;


}
.container{
    background-color: rgb(10, 65, 82);
    margin:auto;
    max-width:955px;
    height:60vh; 
    overflow-y:auto ;
    margin-bottom: 23px;
    padding: 33px;
}
.message{
    background-color: rgb(170, 143, 145);
    padding: 10px;
    margin: 17px 12px;
    width:24%;
    border: 2px solid black;
    border-radius: 10px;   
}
.left{
float:left;
clear:both;
}
.right{
    float:right;
    clear:both;
}
#send-container{
    display:block;
    margin:auto;
    width:100%;
  max-width:985px; ;
  text-align: center;
}
#messageInp{
  height:34px;
    width:82%;
    border: 2px solid black;
    border-radius: 6px;   
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;  
}